body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 15px;
    border: none;
    transition: transform 0.3s;
}

#pokeImg {
    width: 150px;
    height: 150px;
}

.text-capitalize {
    text-transform: capitalize;
}


.d-none {
    display: none !important;
}